*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6f8;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f3f6fa;
    text-decoration: none;
}

.conteiner {
    width: 1024px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 168px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 22px;
}

section h2 {
    font-size: 32px;
}

#Herois {
    background-color: rgba(2, 3, 94, 0.4)
}

#Herois .articles article a {
    background-color: rgba(241, 21, 21, 0.8);
    color: #e7c2ec;
}

#Franquias_amadas {
    background-color: rgba(48, 2, 38, 0.4)
}

#Franquias_amadas .articles article a {
    background-color: rgba(255, 0, 200, 0.8);
    color: #e7c2e3;
}